
.titulo-destaque {
  background-color: #f0f6ff; /* cor de fundo */
  display: block;
  padding: 20px 40px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}
.h2_color{
  background-color: #f0f6ff;
}

.size_component{
  max-height: 280px;
}

.size_component2{
  max-height: 280px;
  width: 100%;
}

.etapa-numero {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #0d6efd; /* Azul Bootstrap */
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-etapa {
  min-height: 280px;
}
 .size_input{
  min-height: 40px;
 }

.card-etapa .conteudo-topo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a5a5a5; 
  border-radius: 4px;
}

.card-etapa2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card-etapa h5 {
  font-size: 1.25rem; /* maior que o padrão */
  font-weight: 600;
}

.card-etapa p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #6c757d;
}

.tag-a {
  font-size: 0.95rem;
  font-weight: 500;
  color: #0d6efd; /* Azul Bootstrap */
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.tag-a:hover {
  text-decoration: underline;
  color: #084298; /* Azul mais escuro no hover */
  cursor: pointer;
}

.input-arquivo {
  padding: 0.5rem;
  font-size: 0.95rem;
  border: 2px solid #0d6efd;
  border-radius: 6px;
  color: #495057;
  background-color: #f8f9fa;
  transition: border-color 0.3s;
}

.input-arquivo:hover {
  border-color: #084298;
  cursor: pointer;
}

.btn_cert{
  width: 50%;
}